.box1 {
    float: left;
    width: 110px;
    height: 50px;
    margin-top: 30px;
    margin-left: 20px;
    border: 2px solid black;
    background-color: yellow;
 }
    
 .box2 {
    width: 622px;
    height: 50px;
    position: relative;            
    top: 30px;
    margin-left: 150px;
    margin-right: 30px;
    border: 2px solid black;
    background-color: #ff7455;
 }
 
 .box3 {
    width: 110px;
    height: 350px;
    margin-top: 40px;
    margin-left: 20px;
    border: 2px solid black;
    background-color: #95ffa2;
 }
 
 .box4{
     width: 500px;
     height: 350px;
     position: absolute;
     top: 102px;
     left: 159px;
     border: 2px solid black;
     background-color: #d9dddc;
 }
 
 .box5{
     width: 100px;
     height: 350px;
     position: absolute;
     top: 102px;
     left: 680px;
     border: 2px solid black;
     background-color: aqua;
 }
 
 .box6{
    width: 750px;
    height: 50px;
    margin-top: 10px;
    margin-left: 20px;
    border: 2px solid black; 
    background-color: blue;
 }
